<% provide(:title, 'About') %>

<div class="about col-sm-9">
  <h2>Scout Master aims to reduce the pre-produciton time allocated towards location scouting.</h2>
<p>
  Scout Master is a web application designed to help Producer's around the world find and track THE BEST locations.

  Scout Master aims to reduce the pre-produciton time allocated towards location scouting. With a database full of locations (curated by the users), it will hopefully increase overall productivity for teams working on tight timelines.
</p>
  <p>  With a database full of locations (curated by the users), it will hopefully increase overall productivity for teams working on tight timelines.
</p>

</div>
