<%= email_image_tag("download.jpg") %>

    <h1>Welcome to scoutmaster.com, <%= @user.name %>!</h1>
    <p>
      You have successfully signed up to scoutmaster.com,
      your username is: <%= @user.name %>.<br>
    </p>
