
<div class="row">
  <div class="about intro col-sm-10">


  <h2> Welcome to Scout Master.</h2>
  <h3>Scout Master aims to reduce the pre-production time allocated towards location scouting.</h3>
<p>
  Wouldn't it be great if there was a worldwide database of the greatest locations for any type of production? This is where Scout Master enters the equation. Scout Master is a web application designed to help Producer's around the world find and track THE BEST locations.
  Don't waste your time scouring the internet looking through obscure search results. Let the results come to you. Upload your location and tag it. It's that simple. And the best part of all: it's curated by you, the Producer.
</p>
  </div>
</div>
