<% if action_name === "help" %>
<div class="row ">
  <div class="container">

  <div class="help col-sm-10">
<h2>Please direct all inquiries <a href="mailto:peterhironaka@gmail.com">here.</a></h2>

  </div>
  </div>
</div>

<% end %>


<% if action_name === "about" %>
<div class="row--header">
    <div class="container">
  <div class="about intro col-sm-11">


  <h2> Welcome to Scout Master.</h2>
  <h3>Scout Master aims to reduce the pre-production time allocated towards location scouting.</h3>
<button type="button" name="button"><a href="/users/new">Get Started</a></button>
</div>
  </div>
</div>

<% end %>
