

<% if action_name === "about" %>

<div class="row">
    <div class="container">
  <div class="home--main col-sm-6">
    <h3>How to create a post</h3>
  <p>
  After clicking on the pencil icon in the menu, you'll be taken to a new screen that's comprised of a text editor. Make sure to title the post, create location tags, and enter in the location's address.
  The address doesn't need to be exact, but the more precise you can get with the location, the better your rating and subsequently the better the service will in turn be. We use Google Map's API to generate a static map of the location as well as an interacctive map on the location's index page. As a user, you will also have the ability to write a summary of the location, as well as upload an image.

  </p>

  </div>

  <div class="about--main col-sm-6">
  <%= image_tag("editor.jpg") %>
</div>

  </div>
  </div>


 <% end %>

<% if action_name === "home" %>


<div class="row">
  <div class="container">
<div class="about--main col-sm-6">

  <h3>How it works.</h3>
<p>
  Wouldn't it be great if there was a worldwide database of the greatest locations for any type of production? This is where Scout Master enters the equation. Post your location, save your location. It's that simple. Scout Master is a web application designed to help Producer's around the world find and track THE BEST locations. Don't waste your time scouring the internet looking through obscure search results. Let the results come to you. 
</p>

</div>

<div class="about--main col-sm-6">
<img src="/assets/placeholder-e57dc2024973000dc4885262ffa69ae1c6750a525eda1ad2f86d5706f1ee7cae.jpg" alt="Placeholder">
</div>
</div>
</div>


  <div class="row">
    <div class="container">

    <div class="about--main col-sm-6">
      <h3>How to create a post</h3>
    <p>
    After clicking on the pencil icon in the menu, you'll be taken to a new screen that's comprised of a text editor. Make sure to title the post, create location tags, and enter in the location's address.
    The address doesn't need to be exact, but the more precise you can get with the location, the better your rating and subsequently the better the service will in turn be. We use Google Map's API to generate a static map of the location as well as an interacctive map on the location's index page. As a user, you will also have the ability to write a summary of the location, as well as upload an image.

    </p>
    </div>

    <div class="about--main col-sm-6">
    <%= image_tag("editor.jpg") %>
    </div>
    </div>
    </div>




<div class="row">
      <div class="container">
  <div class="about--post col-sm-12">
    <h2>An Open Source Community.</h2>
    <%= image_tag("kauai.jpg") %>
  </div>

 <div class="about--post col-sm-4">
   <h4>Curate your locations</h4>
   <p>
    Own your content and share with the world. Each user has the ability to manage and customize their own locations. Scoutmaster is here to help you organize your production.
    </p>
    </div>


<div class="about--post col-sm-4">

<h4>Network with producers</h4>

<p>
Scoutmaster is an open-source community for Producers of all types to utilize locations found anywhere on the planet. Use the application to connect with producers and share tips and best practices on securing locations in geos outside of your own.
</p>
</div>


<div class="about--post col-sm-4">

<h4>Elminate the guesswork</h4>

<p>
It can be difficult to know the exact conditions of the location when you don't live in the same state (or Country, for that matter). Utilize your fellow producers and their data to determine whether it is the correct fit for your production.
</p>
</div>

  </div>
</div>
 <% end %>
