<% provide(:title, 'Fellow Scouters') %>

<h2>Fellow Scouters</h2>
<div class="user-content row">
<div class="container">
<% @users.each do |p| %>

<div class="user-content--users row ">

    <div class="user-content--users--image col-sm-3">



      <%= image_tag p.avatar.url(:medium)  %>

    </div>
<div class="user-content--users--name col-sm-8">
    <h2><%= link_to p.name, user_path(p) %> </h2>
    <p> <%= p.summary %></p>
</div>
</div>





<% end %>
</div>
