<h2 class="error-page">Page Not Found</h2>

<h3>Uh Oh, We couldn't find what you were looking for.</h3>
<img src="http://nerdist.com/wp-content/uploads/2017/05/Inspector-Gadget-GIF-05172017.gif" alt="">

<p>Go home and see if you can find it that way!</p>
