/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require md_simple_editor
 *= require font-awesome


 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "footer";
 @import "header";
 @import "static_pages";

 $header-font-family: 'Open Sans', sans-serif;

 html, body {
     height: 100%;
     width: 100%;
 }

body {
  overflow-x: hidden;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 300;
  padding-top: 89px;
  overflow-x:hidden;
}

ul, ol {
  float: left;
  margin: 1em 0 0;
  padding: 0 18px;
  li {
    list-style: square;
  }
}

h3, h4 {
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 300;
}


#multi_markers.map-container .gm-style p {font-family: 'Ek Mukta', sans-serif; line-height: 1;}

img {
  max-width: 100%;
}

h1 {
  font-family: $header-font-family;
  font-size: 2em;

}

h2 {
  font-family: $header-font-family;
  font-size: 1.4em;
}

h3 {
  font-size:1.2em;
}

a,input {
  color: #333;
        -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;

  &:hover {
    text-decoration: none;

  }
}

p {
  margin: 10px 0;
}

input {
     outline: none;
    border-bottom: 1px solid;
    line-height: 2;
    width: 16em;
    color: black;
    border-radius: 0;
    padding: 3px 15px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;

    @media(max-width:992px){
      width: 14em;
    }
}

.search input {
   @media(max-width:992px){
      width: 9em;
          margin-left: 3em;
    }
}

.form-control {
  border: 1px solid;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  height: 50px;
}



input[type="submit"] {
  background: none;
  padding:0 0 1px 0;
  margin-left: 14px;
  width: 6em;
  color: black;
  border-radius: 0;
  padding: 3px 7px;
}

#location_body {
  min-height: 400px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #000;
}

.navbar svg {
    position: relative;
    max-width: 14em;
    height: 1.8em;
}

.pagination {
  clear: both;
  float: left;
  width: 100%;
  text-align: center;

  a {
      border: 1px solid;
    padding: 7px 10px;
    color: black;

  &:hover {
    background-color: #000;
    color: #fff;
  }
  }
}

.results {
      width: 66% !important;
          position: relative !important;
    z-index: 0 !important;
}



#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.forgot-password {
  margin: 15px;
}

#md-text #location_body {
  width: 100%;
  background-color: #f7f7f7;
  border: none;
}

#location_tag_list {
  background-color: #f7f7f7;
  color: #222;
}

.btn-primary {
    color: #fff;
    background-color: #2196f3;
    border: none;
}

.like-btn {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}

.follow-btn {
  border: 1px solid;

  &:hover, &:visited{
    background-color: #000;
    color: white;
  }


}

.unfollow {
   background-color: #000;
    color: white;
}

.btn {
  border-radius: 0;
 }

 .next_page, .previous_page {
  margin: 0 1em;
 }
