/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "footer";
 @import "header";

 html, body {
     height: 100%;
     width: 100%;
 }

body {
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

img {
  max-width: 100%;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
}

a {
  color: #333;
}

p {
  margin: 10px 0;
}

input {
  outline: none;
  border: none;
  line-height: 2;
      width: 16em;
    background: #5bc7af;
    color: white;
    border-radius: 5px;
    padding: 3px 15px;
}



input[type="submit"] {
  background: none;
  padding:0 0 1px 0;
  margin-left: 14px;
  width: 6em;
  background: #5bc7af;
  color: white;
  border-radius: 5px;
  padding: 3px 7px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}
