// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  width: 100%;
  padding:1em 0 1.5em 0;
  float: left;
  img {
    float: left;
    max-width: 70px;
  }

  &--content {
    float: left;
    margin-left: 1em;
    h3 {
      margin: 0;
    }

  }
}

#new_comment {
  float: left;
  width: 100%;
    input.btn.btn-success {
      margin-top: 2em;
    }
}
