// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  width: 100%;
  padding:1em 0 1.5em 0;
  float: left;

    .comment-list {
      width: 100%;
      float: left;
      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid #eee;
        &:nth-last-child(2) {
          border-bottom: none;
        }
        &--image {
          float: left;
          img {
            max-width: 35px;
  border-radius: 26px;
          }
        }
          &--content {
            float: left;
            padding: 0 1em;
            @media(max-width:992px){
              padding: 1em 0 0 0;
            }

            h3 {
              margin: 0;
            }
          }
    }

    #new_comment {
      float: left;
      width: 100%;

    }


}


input.btn.btn-success {
  margin: 1em 0;
background-color: #5bc7af;
border: none;
margin-left: 0;
padding: 5px;
text-align: center;
width: 10em;
    &:hover {
      background-color: #81dcb6;
    }
}
