// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar {
  padding: 1em 0 0;
  background: #4AE5C2;
  border-color: transparent !important;
  margin: 0;

  .new-location {
    float:left;
    margin: 0px 17px 0 0px;
background-color: #5bc7af;
padding: 6px;
border-radius: 4px;
color: white;
  }


  .navbar-brand {
    color: white;
  }

  .navbar-form {
        width: 33em;
    padding: 2em 0;

  }
}

.navbar-toggle {
  border-color: transparent !important;
    &:hover {
      background-color: #5bc7af !important;
    }
  .icon-bar {
    background-color: #ffffff !important;

  }
}

.navbar-right {
      margin: 10px 0;

  img {
    float: left;
    max-width: 40px;
    border-radius: 28px;
    margin-right: 15px;
  }
  h4 {
    font-size: 1em;
    float: left;
  }

  li.login {
    margin-right: 13px;
  }
  li {
    background-color: #5bc7af;
    border-radius: 5px;
      margin-right: 0;

    a {
      padding: 3px 11px;
    }

    .login {
      color: white !important;

    }
  }
}

.form-control {
outline: none;
}

.form-group {
      width: 20em;


      .form-control {
        width: 35em;
      }
}

.dropdown-menu {

  h2 {
    font-size: 1.3em;
        padding: 1px 11px;
            margin: 8px 0;
  }
  li a {
    color: black;
    background-color: white;

    &:hover {
      color: white;
      background: #5bc7af;
    }
  }

}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 1em;
}

.open {
  h4 {
        margin-right: 10px;
  }


  .divider {
    background: black;
    height: 1px;
    width: 100%;
  }


}

.search {
  margin-top: 4em;
}
