// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.location-index {
  margin-left: 15%;
  margin-bottom: 3em;
  text-align: center;
    h1 {
      margin-bottom: 1em;
    }
}

.location-content {
  h3 {
    margin: 0;
  }

  &--post {
    img {
      float: left;
      max-width: 50px;
      border-radius: 28px;
      @media(max-width:992px){
        float: none;
      }

    }
    h3 {
      float: left;
      font-size:1.2em;
      margin-left: 1em;
      @media(max-width:992px){
        float: none;
      }


    }
    h2 {

      margin-top: 2em;
      @media(max-width:992px){
        margin-top:1em;
      }
    }
    p {
      float: left;
      margin: 0;
    }
  }
  &--post--owner {
    margin-top: 1em;
    float: left;
  }
}
#multi_markers {
  height: 100%;
  width: 100%;
  left: 0;
  position: relative;
  top: 0;
}

.map-container {
position: relative;
padding-bottom: 26.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.map-container iframe,
.map-container object,
.map-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
