// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  img {
    margin-top: 2em;
  }
  &--locations {
    margin-bottom:2em;
  }
}

.location-index {
  margin-left: 0%;
  margin-bottom: 3em;
  text-align: center;
    h2 {
      margin-bottom: 1em;
      color: white;
    }
}

.location-form {
  margin-top: 2em;
}

.location-content {

  margin: 2em 0 0;
  h3 {
    margin: 0;
  }

  &--post {
    img {
      float: left;
      max-width: 50px;
      border-radius: 28px;
      @media(max-width:992px){
        float: none;
      }

    }
    h3 {
      float: left;
      font-size:1.2em;
      @media(max-width:992px){
        float: none;
      }


    }
    h2 {

      margin-top: 1em;

    }
    p {
      float: left;
      margin: 0;
    }
  }
  &--post--owner {
    margin-top: 1em;
    float: left;
  }
}
#multi_markers {
  height: 100%;
  width: 100%;
  left: 0;
  position: relative;
  top: 0;

  .gm-style-iw {
    max-width: 300px;
  }
}

.map-container {
position: relative;
padding-bottom: 26.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.map-container iframe,
.map-container object,
.map-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 0;
    font-size: 20px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-info {
  color: #4ae5c2;
    background-color: transparent;
  outline: none;

  .badge {
    color: #333;
    background-color: transparent;
    padding: 2px 4px 6px;
    font-size: 13px;
  }
}

.user-content--users {
  margin: 1em 0;
border: 1px solid #eee;
border-radius: 11px;
padding: 1.2em 0;
    &--image {
      img {
        float: left;
        max-width: 75px;
      border-radius: 42px;
  margin-right: 15px;
      }

    }
    &--name h2 {
      margin: 0;
    }
}

.user-locations--index {
  padding-top: 1em;
  h2 {
    padding-top: 1em;
    border-top: 1px solid ;
  }
}
