// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about {

  margin: 4em 0;

  h2 {
   font-size: 3em;
 }

 h3 {
   font-size: 2em;
 }

&--main {
  h3 {
    font-size: 2em;
  }
  margin-bottom: 2em;
}
}

.social {
  display: inline-block;
margin: 0 3em 1em 0;
}

.about--post {
  h2 {
   font-size: 2.5em;
   text-align: center;
 }
}
