<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Nunito" rel="stylesheet">

    <style>
    body {
      font-family: 'Fjalla One', sans-serif;
    }
    .header {
      width: 100%;
      margin: 0 0 1em;
      padding: 2em 0;
      background: blue;
      color: white;
    }

    .header h1 {
      padding: 0 1em;
    }
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
<div class="header">
  <h1>Scout Master</h1>
</div>

    <%= yield %>
  </body>
</html>
